body {
    background-color: #efefef
}

.main {
    background-color: white;
    margin: 30px;
}

.center {
    background-color: #b2dba1;
    padding: 19px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.publish-left {
    border-right: 1px solid #e6e6e6;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-dsc {
    font-size: 12px;
    font-weight: normal;
    color: #999
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}
