<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>community</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="css/community.css" th:href="@{/css/community.css}">

    </head>
    <body>
        <div th:insert="navigation :: nav"></div>

        <div class="container-fluid main">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 publish-left">
                    <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 发现</h2>
                    <hr>
                    <div th:each="question:${pagination.getQuestions()}">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-thumbnail"
                                         src="https://avatars1.githubusercontent.com/u/41500499?v=4" alt="..."
                                         th:src="@{${question.getUser().getAvatarUrl()}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a th:href="@{'/question/' + ${question.id}}" th:text="${question.getTitle()}"></a>
                                </h4>
                                点击进入 <br>
                                <span class="text-dsc">
                                    <span th:text="${question.getCommentCount()}"></span> 个回复
                                    • <span th:text="${question.getViewCount()}"></span> 次浏览
                                    • <span th:text="${#calendars.format(question.getGmtModified(),'yyyy-MMMM-dd HH:mm')}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${pagination.showFirstPage}">
                                <a href="/?page=1" aria-label="Previous" th:href="@{/(page=1)}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showPrevious}">
                                <a th:href="@{/(page=${pagination.page - 1})}" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>

                            <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}?'active':''">
                                <a th:text="${page}" th:href="@{/(page=${page})}">
                                </a>
                            </li>

                            <li th:if="${pagination.showNext}">
                                <a th:href="@{/(page=${pagination.page + 1})}" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showEndPage}">
                                <a th:href="@{/(page=${pagination.getTotalPage()})}" href="/?page=1"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3>热门话多读多题</h3>
                    • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                    • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料： <br>
                    • 选择标签： 输入标签，用逗号隔开。 <br>
                </div>
            </div>
        </div>
    </body>
    <script src="js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</html>